$wp--preset--container--content-size: 86.125rem; // 86.125rem
$wp--preset--container--wide-size: 90rem; // 90rem
$wp--preset--color--primary: #272A35; // primary
$wp--preset--color--success: #20CBA2; // success
$wp--preset--color--accent: #F2F9FF; // accent
$wp--preset--gradient--gradient-blue: radial-gradient(59.58% 53.89% at 20.8% 75.39%, #fff 27.25%, rgba(255, 255, 255, 0.35) 48.65%, rgba(255, 255, 255, 0) 100%), radial-gradient(93.75% 36.85% at 31.05% 6.31%, rgba(2, 126, 253, 0.6) 37.5%, rgba(255, 255, 255, 0.35) 70.45%, rgba(255, 255, 255, 0) 100%), radial-gradient(119% 56.83% at 87.26% 8.01%, rgba(2, 126, 253, 0.6) 29.65%, rgba(255, 255, 255, 0) 100%), radial-gradient(216.14% 87.74% at 67.01% 30.78%, #fff 73.32%, #47ddff 100%); // Gradient Blue
$wp--preset--font-size--h1: 40px; // H1
$wp--preset--font-size--h2: 30px; // H2
$wp--preset--font-size--h3: 24px; // H3
$wp--preset--font-size--h4: 18px; // H4
$wp--preset--font-size--h5: 16px; // H5
$wp--preset--font-size--h6: 14px; // H6
$wp--preset--font-size--large: 18px; // Text Large
$wp--preset--font-size--normal: 16px; // Text Normal
$wp--preset--font-size--medium: 14px; // Text Medium
$wp--preset--font-size--small: 12px; // Text Small
$wp--preset--font-size--thin: 10px; // Text Thin
$wp--preset--font-family--inter-font: "Inter", sans-serif; // Inter
